<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="Taivas APM Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <php>
        <server name="REDIS_CLIENT" value="predis"/>
        <server name="APP_KEY" value="base64:aDhxQXEwd2MwWld6cVFMbWxBV3B4ZXBZMlM2NUxRNlEK"/>
        <server name="TAIVAS_SECRET" value="h8qAq0wc0ZWzqQLmlAWpxepY2S65LQ6Q"/>
        <server name="DB_CONNECTION" value="sqlite" />
        <server name="DB_DATABASE" value=":memory:" />
    </php>
    <logging>
        <log type="coverage-html" target="./build/logs/report/"
             lowUpperBound="35" highLowerBound="70" showUncoveredFiles="true" />
        <log type="testdox-html" target="./build/logs/testdox.html" />
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
